* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2025;
}

.right {
    margin-top: 160px;
    position: relative;
    width: 40%;
    border: 1px solid red;
    height: 100%;
}

.left {
    margin-top: 160px;
    width: 60%;
    border: 1px solid white;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto; /* Thêm dòng này để kích hoạt cuộn dọc */
}


.food-item {
    background-color: #2a2b30;
    padding: 15px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.food-item .col-2 {
    display: flex;
    flex-direction: column;
}

.food-item img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.food-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.food-item p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #ccc;
}

.food-item .price {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
}

.left .food-item .quantity {
    float: right;
    /*margin-left: 30%;*/
    margin-left: auto;
    margin-right: 10%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
}

.left .food-item .quantity a, .left .food-item .quantity span {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.right {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #2a2b30;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.right .ticket-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right .details h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.right .details .age-rating {
    background-color: #f46c27;
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
}

.right .cinema-info,
.right .seat-info,
.right .total,
.right .infor-comboFood{
    font-size: 1em;
    line-height: 1.5;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.right .total {
    font-size: 1.2em;
    font-weight: bold;
}

.right .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.right .actions .btn-back,
.right .actions .btn-continue {
    background-color: #f46c27;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.right .actions .btn-back {
    background-color: #444;
}

.right .actions .btn-continue:hover {
    background-color: #e05a1a;
}

.right .infor-comboFood h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}