* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.infor-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 20%;
    color: white;
    font-size: 23px;
}
.highlight {
    color: plum;
    font-weight: bold;
}
.infor-content .in4{
    float: right;
    align-items: flex-start;
    width: 75%;
    font-size: 22px;
}
.row-infor{
    max-width: 600px;
    line-height: 1.5;
    border-bottom: 1px solid #444;
    padding-top: 10px;
    overflow: hidden;
}