* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.infor-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 20%;
    color: white;
    font-size: 31px;
}
.highlight {
    color: plum;
    font-weight: bold;
    width: 200px;
}
.infor-content .in4{
    float: right;
    align-items: flex-start;
    width: 80%;
    font-size: 12px;
}
.infor-content .in4 {
    width: 360px;
    margin-right: 35%;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}
.buttons{
    /*float: left;*/
    display: flex;
    flex-direction: row;
    gap: 310px;
}
.btn{
    background-color: #ef7d44;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.btn:hover {
    background-color: #e05a1a;
}
.row-input{
    margin-bottom: 20px;
}
