.social-icons, .contact-address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.social-icons a {
    color: #777777;
}

.social-icons a:hover {
    color: gray;
}

.social-icons a i {
    color: white;
    font-size: 16px;
    margin-right: 5px;
}
.column-3 h2{
    color: white;
}
.column-3 li a, .column-3 li{
    color: #777777;
}
.column-3 li i {
    color: white;
    font-size: 16px;
    margin-right: 5px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    background: linear-gradient(200deg, #6D0088, #0f0c29, transparent);
    gap: 20%;
    border: solid 1px mediumpurple;
    margin-top: 40px;

}
.column-1 .logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;

}
.logo-footer a {
    color: white;
    font-weight: 600;
    padding-right: -50px;
}
.footer div {
    flex: 1;
}