* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.leftmenu{
    display: flex;
    flex-direction: column;
    /*background-color: #e74c3c;*/
    height: 100vh;
    width: 20%;
    gap: 50px;
    padding-top: 150px;
    padding-left: 5%;
    border-right: white solid 1px;
    float: left;

}
.leftmenu a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.leftmenu a:hover{
    color: orange;
    font-size: 25px;
}
.leftmenu .open{
    color: orange;
    font-size: 25px;
}
.right_infor{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    float: right;
    width: 80%;
    /*background-color: #e74c3c;*/

}
.right_infor h1{
    color: white;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}
.right_infor h1{
    color: #1abc9c;
}