* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: wheat;
    /*position: fixed;*/
    /*border-bottom: red 3px solid;*/
}
.nav-menu .lelf-menu #logo-cinema {
    width: 100px;
    height: 77px;
    float: left;
    margin-left: 70px;
    margin-right: 150px;
}
.nav-menu .right-menu{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.nav-menu .right-menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.nav-menu .right-menu a:hover{
    color: red;
}
.nav-menu .right-menu input{
    width: 350px;
    height: 30px;
    padding: 6px;
    margin-right: 40px;
    border-radius: 10px;
}
