* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: wheat;
    /*position: fixed;*/
    /*border-bottom: red 3px solid;*/
}
.nav-menu .lelf-menu #logo-cinema{
    margin-right: 50px;
    width: 80px;
}

.nav-menu .right-menu{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.nav-menu .right-menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.nav-menu .right-menu a:hover{
    color: red;
}
.nav-menu .right-menu input{
    width: 350px;
    height: 30px;
    padding: 6px;
    margin-right: 40px;
    border-radius: 10px;
}
.nav-menu{
    background: linear-gradient(10deg, #6D0088, #0f0c29);
    border-bottom: solid 1px mediumpurple;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
