* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.container-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pay p{
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    color: #0f0c29;
    gap: 50px;
}
.QR-lefl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 100%;
}

.QR-lefl img{
    width: 330px;
    border-radius: 10px;
    margin: 10px;
}
.QR-lefl h2{
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}
.QR-lefl h3{
    font-weight: bold;
    margin-top: 10px;
}
.infor-movie-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    /*font-size: ;*/
}
.highlight{
    color: #b60d9c;
    font-weight: bold;
}
.total-cost{
    border-top: 3px dashed red;
    padding-top: 5px;
}
.payment-text{
    font-size: 20px;
}
.cost{
    font-size: 20px;
    color: red;
    font-weight: bold;
}