* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background: #1f2025;
    font-family: 'Montserrat', sans-serif;
}
.header{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header h1{
    color: white;
    margin-bottom: 10px;
}
.Se-movie{
    display: flex; /* Sử dụng flexbox để căn chỉnh các combobox ngang hàng */
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end; /* Đẩy các combobox về phía bên phải */
    float : right;
    width: 90%;
    margin-bottom: 10px;
}
.combobox{
    width: 100px;
    height: 24px;

}

.container-movie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.movie {
    height: 50%;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.movie-infor img{
    width: 95%;
    height: 95%;
}
.movie a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.book-button{
    margin-top: 8px;
    color: black;
    font-weight: bold;
    background-color: #f3ea28;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    margin-bottom: 30px
}
.pagination li , .pagination a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.pagination li{
    display: inline-block;
    margin: 20px;
}
.movie-infor{
    position: relative;
    overflow: hidden;
}
.infor-text{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: -300%;
    width: 95%;
    height: 95%;
    padding: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.movie-infor:hover .infor-text{
    top: 0;
}
.highlight{
    font-weight: bold;
    color: rosybrown;
    margin-right: 10px
}
a.disable{
    pointer-events: none;
}
.num-page a:hover{
    font-weight: bold;
    color: red;
}
.book-button:hover {
    cursor: pointer;
}
